Import Library

In [2]:
import pandas as pd

Import Data

In [3]:
import pandas as pd

# Import data dari file cycles.csv
data_cycles = pd.read_csv("/workspaces/Ds_jala/Data/cycles.csv")

# Import data dari file farms.csv
data_farms = pd.read_csv("/workspaces/Ds_jala/Data/farms.csv")

# Import data dari file fasting.csv
data_fasting = pd.read_csv("/workspaces/Ds_jala/Data/fasting.csv")

# Import data dari file fastings.csv
data_fastings = pd.read_csv("/workspaces/Ds_jala/Data/fastings.csv")

# Import data dari file feed_tray.csv
data_feed_tray = pd.read_csv("/workspaces/Ds_jala/Data/feed_tray.csv")

# Import data dari file feeds.csv
data_feeds = pd.read_csv("/workspaces/Ds_jala/Data/feeds.csv")

# Import data dari file harvests.csv
data_harvests = pd.read_csv("/workspaces/Ds_jala/Data/harvests.csv")

# Import data dari file measurements.csv
data_measurements = pd.read_csv(r"/workspaces/Ds_jala/Data/measurements.csv")

# Import data dari file mortalities.csv
data_mortalities = pd.read_csv("/workspaces/Ds_jala/Data/mortalities.csv")

# Import data dari file ponds.csv
data_ponds = pd.read_csv("/workspaces/Ds_jala/Data/ponds.csv")

# Import data dari file samplings.csv
data_samplings = pd.read_csv("/workspaces/Ds_jala/Data/samplings.csv")

Cek data lengkap

Ukuran Data dan konten data

In [4]:
# Analisis ukuran dan konten data

print("\nAnalisis Ukuran Data:")
for df, name in zip(
    [
        data_cycles,
        data_farms,
        data_fasting,
        data_fastings,
        data_feed_tray,
        data_feeds,
        data_harvests,
        data_measurements,
        data_mortalities,
        data_ponds,
        data_samplings,
    ],
    [
        "data_cycles",
        "data_farms",
        "data_fasting",
        "data_fastings",
        "data_feed_tray",
        "data_feeds",
        "data_harvests",
        "data_measurements",
        "data_mortalities",
        "data_ponds",
        "data_samplings",
    ],
):
    print(f"- {name}: {df.shape}")

Analisis Ukuran Data:
- data_cycles: (2617, 24)
- data_farms: (551, 4)
- data_fasting: (6189, 3)
- data_fastings: (32379, 3)
- data_feed_tray: (186664, 10)
- data_feeds: (706908, 3)
- data_harvests: (8087, 9)
- data_measurements: (139050, 24)
- data_mortalities: (13221, 7)
- data_ponds: (338, 10)
- data_samplings: (15032, 7)

Periksa duplikat

In [5]:
# Periksa duplikat

print("\nAnalisis Duplikat:")
for df, name in zip(
    [
        data_cycles,
        data_farms,
        data_fasting,
        data_fastings,
        data_feed_tray,
        data_feeds,
        data_harvests,
        data_measurements,
        data_mortalities,
        data_ponds,
        data_samplings,
    ],
    [
        "data_cycles",
        "data_farms",
        "data_fasting",
        "data_fastings",
        "data_feed_tray",
        "data_feeds",
        "data_harvests",
        "data_measurements",
        "data_mortalities",
        "data_ponds",
        "data_samplings",
    ],
):
    print(f"- {name}: {df.duplicated().sum()}")

Analisis Duplikat:
- data_cycles: 50
- data_farms: 0
- data_fasting: 67
- data_fastings: 185
- data_feed_tray: 0
- data_feeds: 154995
- data_harvests: 0
- data_measurements: 0
- data_mortalities: 0
- data_ponds: 0
- data_samplings: 0

Kesimpulan:
*   data_cycles ,data_fasting,data_fastings,data_feed_tray, juga data_feeds masih memiliki banyak duplikat,
*   sekaligus pada judul nama data antara data_fasting da
data_fastings apakah sama/berbeda?(maka perlu dibuat berbeda)
*  masih ada ketidakkonsistenan nama kolom tiap data dengan glosarium
*   Langkah penting dalam menangani duplikat data adalah mengidentifikasi sumber duplikat. Lakukan investigasi untuk memahami akar penyebab duplikat dan mengambil langkah pencegahan di masa depan. Selanjutnya, tetapkan kriteria yang jelas dan konsisten untuk menentukan duplikat dalam konteks data Anda. Manfaatkan teknik penghapusan duplikat seperti `df.drop_duplicates()` atau algoritma deduplikasi khusus untuk membersihkan data. Jika duplikat mewakili entitas yang sama, pertimbangkan untuk mengagregasi data dengan tepat, misalnya dengan menghitung total pembelian per pelanggan. Penting untuk diingat bahwa tidak semua duplikat harus dihapus, keputusan harus didasarkan pada pemahaman yang baik tentang data dan tujuan analisis Anda.

Cek Nilai Null

In [6]:
print("\nAnalisis Nilai Null:")
for df, name in zip(
    [
        data_cycles,
        data_farms,
        data_fasting,
        data_fastings,
        data_feed_tray,
        data_feeds,
        data_harvests,
        data_measurements,
        data_mortalities,
        data_ponds,
        data_samplings,
    ],
    [
        "data_cycles",
        "data_farms",
        "data_fasting",
        "data_fastings",
        "data_feed_tray",
        "data_feeds",
        "data_harvests",
        "data_measurements",
        "data_mortalities",
        "data_ponds",
        "data_samplings",
    ],
):
    print(f"- {name}: {df.isnull().sum()}")

Analisis Nilai Null:
- data_cycles: id                           0
pond_id                      0
species_id                 814
total_seed                   0
started_at                   0
finished_at                  1
remark                    1281
created_at                   0
updated_at                   0
area                         0
initial_age                 48
limit_weight_per_area        7
target_cultivation_day       3
target_size                  4
extracted_at                 0
subscription_type            0
ordered_at                1523
hatchery_id                465
total_seed_type            242
hatchery_name              465
pond_name                    0
pond_length                  6
pond_width                   6
pond_depth                 118
dtype: int64
- data_farms: id           0
province    72
regency     93
timezone     0
dtype: int64
- data_fasting: logged_date     0
cycle_id        0
fasting        17
dtype: int64
- data_fastings: logged_date     0
cycle_id        0
fasting        40
dtype: int64
- data_feed_tray: id                             0
logged_at                      0
feed_logged_at                 0
cycle_id                       0
tray_number                    0
feed_remaining_percent         0
remark                    140283
created_at                     0
updated_at                     0
local_feed_logged_at           0
dtype: int64
- data_feeds: cycle_id      0
logged_at    21
quantity     21
dtype: int64
- data_harvests: cycle_id            0
updated_at          0
size                0
created_at          0
weight              0
id                  0
harvested_at        0
status            263
selling_price    1793
dtype: int64
- data_measurements: pond_id                     0
cycle_id                    0
measured_date               0
morning_temperature     41855
evening_temperature     49839
morning_do              61324
evening_do              65098
morning_salinity        46388
evening_salinity        73957
morning_pH              20115
evening_pH              78101
transparency            61750
turbidity              138884
ammonia                135302
nitrate                136888
nitrite                129293
alkalinity             125533
hardness               133525
calcium                132458
magnesium              132430
carbonate              133762
bicarbonate            132372
tom                    131774
total_plankton_        126429
dtype: int64
- data_mortalities: id                0
cycle_id          0
quantity          0
recorded_at       0
created_at        0
updated_at        0
average_weight    0
dtype: int64
- data_ponds: id                    0
farm_id               0
length               23
width                29
deep                 92
created_at            0
updated_at            0
record_id             0
extracted_at          0
max_seed_density    203
dtype: int64
- data_samplings: cycle_id              0
updated_at            0
sampled_at            0
created_at            0
average_weight        0
id                    0
remark            13693
dtype: int64

Kesimpulan:



*   Masih ada beberapa data yang memiliki nilai null
*   Untuk menangani nilai null dalam data, ada beberapa strategi yang dapat diterapkan. Pertama, identifikasi lokasi dan penyebab nilai null serta analisis dampaknya pada model. Kemudian, pertimbangkan strategi penanganan seperti penghapusan atau imputasi nilai null. Gunakan teknik khusus jika diperlukan, seperti interpolasi untuk data time series. Pastikan konsistensi dalam menerapkan metode penanganan dan dokumentasikan metode yang digunakan. Evaluasi dampaknya pada performa model dan ingat bahwa nilai null dapat menurunkan akurasi, memperkenalkan bias, dan mempengaruhi interpretasi data.

Catatan lain juga seperti, transformasi data adalah proses memodifikasi data sebelum dilakukan analisis. Beberapa teknik yang umum digunakan adalah normalisasi dan scaling, encoding data kategorikal, dan feature engineering. Selanjutnya, integrasi data melibatkan menggabungkan data dari sumber yang berbeda dan menangani inkonsistensi dalam format data. Opsionalnya, reduksi data dapat dilakukan melalui seleksi fitur atau teknik reduksi dimensi seperti Principal Component Analysis (PCA). Hal ini dapat membantu meningkatkan performa model analisis.

Data Preprocessing

Drop duplicate

In [7]:
# Now drop duplicates (consider inplace=True for efficiency)
for df, name in zip(
    [
        data_cycles,
        data_farms,
        data_fasting,
        data_fastings,
        data_feed_tray,
        data_feeds,
        data_harvests,
        data_measurements,
        data_mortalities,
        data_ponds,
        data_samplings,
    ],
    [
        "data_cycles",
        "data_farms",
        "data_fasting",
        "data_fastings",
        "data_feed_tray",
        "data_feeds",
        "data_harvests",
        "data_measurements",
        "data_mortalities",
        "data_ponds",
        "data_samplings",
    ],
):
    df.drop_duplicates(inplace=True)  # Drop duplicates and modify DataFrame in-place

# Print number of duplicates after dropping
print("\nAnalisis Duplikat (setelah dihapus):")
for df, name in zip(
    [
        data_cycles,
        data_farms,
        data_fasting,
        data_fastings,
        data_feed_tray,
        data_feeds,
        data_harvests,
        data_measurements,
        data_mortalities,
        data_ponds,
        data_samplings,
    ],
    [
        "data_cycles",
        "data_farms",
        "data_fasting",
        "data_fastings",
        "data_feed_tray",
        "data_feeds",
        "data_harvests",
        "data_measurements",
        "data_mortalities",
        "data_ponds",
        "data_samplings",
    ],
):
    print(f"- {name}: {df.duplicated().sum()}")  # Print number of duplicates remaining

Analisis Duplikat (setelah dihapus):
- data_cycles: 0
- data_farms: 0
- data_fasting: 0
- data_fastings: 0
- data_feed_tray: 0
- data_feeds: 0
- data_harvests: 0
- data_measurements: 0
- data_mortalities: 0
- data_ponds: 0
- data_samplings: 0

Drop Nilai Null  ( sementara, untuk langkah idealis seharusnya memastikan tiap kolom data diisi seperti apa/sumber null perlu dicari, namun karena kurang pengetahuan mengenai tentang ilmu peternakan udang/data cadangan tertulis(manual), saya hapus/drop untuk pengoptimalan data)

In [8]:
import pandas as pd

# Analyze null values
print("\nAnalisis Nilai Null (sebelum dihapus):")
for df, name in zip(
    [
        data_cycles,
        data_farms,
        data_fasting,
        data_fastings,
        data_feed_tray,
        data_feeds,
        data_harvests,
        data_measurements,
        data_mortalities,
        data_ponds,
        data_samplings,
    ],
    [
        "data_cycles",
        "data_farms",
        "data_fasting",
        "data_fastings",
        "data_feed_tray",
        "data_feeds",
        "data_harvests",
        "data_measurements",
        "data_mortalities",
        "data_ponds",
        "data_samplings",
    ],
):
    print(f"- {name}: {df.isnull().sum()}")  # Print number of null values before dropping

# Drop rows with null values (consider subset of columns if needed)
for df, name in zip(
    [
        data_cycles,
        data_farms,
        data_fasting,
        data_fastings,
        data_feed_tray,
        data_feeds,
        data_harvests,
        data_measurements,
        data_mortalities,
        data_ponds,
        data_samplings,
    ],
    [
        "data_cycles",
        "data_farms",
        "data_fasting",
        "data_fastings",
        "data_feed_tray",
        "data_feeds",
        "data_harvests",
        "data_measurements",
        "data_mortalities",
        "data_ponds",
        "data_samplings",
    ],
):
    df.dropna(inplace=True)  # Drop rows with any null value

# Print number of null values after dropping (optional)
print("\nAnalisis Nilai Null (setelah dihapus):")
for df, name in zip(
    [
        data_cycles,
        data_farms,
        data_fasting,
        data_fastings,
        data_feed_tray,
        data_feeds,
        data_harvests,
        data_measurements,
        data_mortalities,
        data_ponds,
        data_samplings,
    ],
    [
        "data_cycles",
        "data_farms",
        "data_fasting",
        "data_fastings",
        "data_feed_tray",
        "data_feeds",
        "data_harvests",
        "data_measurements",
        "data_mortalities",
        "data_ponds",
        "data_samplings",
    ],
):
    print(f"- {name}: {df.isnull().sum()}")  # Print number of null values remaining

Analisis Nilai Null (sebelum dihapus):
- data_cycles: id                           0
pond_id                      0
species_id                 798
total_seed                   0
started_at                   0
finished_at                  1
remark                    1231
created_at                   0
updated_at                   0
area                         0
initial_age                 47
limit_weight_per_area        7
target_cultivation_day       3
target_size                  4
extracted_at                 0
subscription_type            0
ordered_at                1474
hatchery_id                458
total_seed_type            242
hatchery_name              458
pond_name                    0
pond_length                  6
pond_width                   6
pond_depth                 118
dtype: int64
- data_farms: id           0
province    72
regency     93
timezone     0
dtype: int64
- data_fasting: logged_date     0
cycle_id        0
fasting        17
dtype: int64
- data_fastings: logged_date     0
cycle_id        0
fasting        38
dtype: int64
- data_feed_tray: id                             0
logged_at                      0
feed_logged_at                 0
cycle_id                       0
tray_number                    0
feed_remaining_percent         0
remark                    140283
created_at                     0
updated_at                     0
local_feed_logged_at           0
dtype: int64
- data_feeds: cycle_id      0
logged_at    17
quantity     17
dtype: int64
- data_harvests: cycle_id            0
updated_at          0
size                0
created_at          0
weight              0
id                  0
harvested_at        0
status            263
selling_price    1793
dtype: int64
- data_measurements: pond_id                     0
cycle_id                    0
measured_date               0
morning_temperature     41855
evening_temperature     49839
morning_do              61324
evening_do              65098
morning_salinity        46388
evening_salinity        73957
morning_pH              20115
evening_pH              78101
transparency            61750
turbidity              138884
ammonia                135302
nitrate                136888
nitrite                129293
alkalinity             125533
hardness               133525
calcium                132458
magnesium              132430
carbonate              133762
bicarbonate            132372
tom                    131774
total_plankton_        126429
dtype: int64
- data_mortalities: id                0
cycle_id          0
quantity          0
recorded_at       0
created_at        0
updated_at        0
average_weight    0
dtype: int64
- data_ponds: id                    0
farm_id               0
length               23
width                29
deep                 92
created_at            0
updated_at            0
record_id             0
extracted_at          0
max_seed_density    203
dtype: int64
- data_samplings: cycle_id              0
updated_at            0
sampled_at            0
created_at            0
average_weight        0
id                    0
remark            13693
dtype: int64

Analisis Nilai Null (setelah dihapus):
- data_cycles: id                        0
pond_id                   0
species_id                0
total_seed                0
started_at                0
finished_at               0
remark                    0
created_at                0
updated_at                0
area                      0
initial_age               0
limit_weight_per_area     0
target_cultivation_day    0
target_size               0
extracted_at              0
subscription_type         0
ordered_at                0
hatchery_id               0
total_seed_type           0
hatchery_name             0
pond_name                 0
pond_length               0
pond_width                0
pond_depth                0
dtype: int64
- data_farms: id          0
province    0
regency     0
timezone    0
dtype: int64
- data_fasting: logged_date    0
cycle_id       0
fasting        0
dtype: int64
- data_fastings: logged_date    0
cycle_id       0
fasting        0
dtype: int64
- data_feed_tray: id                        0
logged_at                 0
feed_logged_at            0
cycle_id                  0
tray_number               0
feed_remaining_percent    0
remark                    0
created_at                0
updated_at                0
local_feed_logged_at      0
dtype: int64
- data_feeds: cycle_id     0
logged_at    0
quantity     0
dtype: int64
- data_harvests: cycle_id         0
updated_at       0
size             0
created_at       0
weight           0
id               0
harvested_at     0
status           0
selling_price    0
dtype: int64
- data_measurements: pond_id                0.0
cycle_id               0.0
measured_date          0.0
morning_temperature    0.0
evening_temperature    0.0
morning_do             0.0
evening_do             0.0
morning_salinity       0.0
evening_salinity       0.0
morning_pH             0.0
evening_pH             0.0
transparency           0.0
turbidity              0.0
ammonia                0.0
nitrate                0.0
nitrite                0.0
alkalinity             0.0
hardness               0.0
calcium                0.0
magnesium              0.0
carbonate              0.0
bicarbonate            0.0
tom                    0.0
total_plankton_        0.0
dtype: float64
- data_mortalities: id                0
cycle_id          0
quantity          0
recorded_at       0
created_at        0
updated_at        0
average_weight    0
dtype: int64
- data_ponds: id                  0
farm_id             0
length              0
width               0
deep                0
created_at          0
updated_at          0
record_id           0
extracted_at        0
max_seed_density    0
dtype: int64
- data_samplings: cycle_id          0
updated_at        0
sampled_at        0
created_at        0
average_weight    0
id                0
remark            0
dtype: int64

Mengubah data_fastings menjadi data_fastings_second sebagai pembeda

In [9]:
data_fastings_second=data_fastings

In [10]:
data_fasting.head()

  logged_date  cycle_id  fasting
0  2022-10-17     15804      1.0
1  2022-11-27     15804      0.0
2  2022-11-28     15804      0.0
3  2022-11-29     15804      0.0
4  2022-12-01     15804      1.0

Mengubah nama data_fastings menjadi data_fasting2

#Jawaban No.2

##Menghitung SR

In [11]:
data_harvests.head()

,cycle_id,updated_at,size,created_at,weight,id,harvested_at,status,selling_price
1,11848.0,2021-10-25 23:29:53,300.0,2021-10-24 08:38:53,46.00,7520.0,2021-10-22,Full,1.610000e+06
2,11848.0,2021-10-25 23:29:35,300.0,2021-10-25 23:29:35,10.00,7546.0,2021-10-21,Partial,3.500000e+05
5,18747.0,2022-10-20 01:06:50,72.3,2022-10-20 01:06:50,5322.28,13876.0,2022-10-19,Full,5.322280e+03
6,27095.0,2024-02-19 02:10:48,41.5,2023-12-27 12:00:59,7843.00,25322.0,2023-12-12,Full,4.925404e+08
7,27095.0,2024-02-19 02:08:11,67.5,2024-02-12 05:06:57,1244.50,26728.0,2023-11-08,Partial,7.653675e+07

Menghitung Data Jumlah Ekor Udang per siklus panen

In [12]:
data_harvests['ekor'] = (data_harvests['weight']/ data_harvests['size']).astype(int)

In [13]:
data_harvests['ekor']

1         0
2         0
5        73
6       188
7        18
       ...
8082      0
8083      0
8084      2
8085      0
8086      1
Name: ekor, Length: 6039, dtype: int64

Mengambil data total_seed per siklus dari data_cycles dan data jumlah ekor per siklus(id) dari data_harvests

In [14]:

data_cycles['cycle_id'] = data_cycles['id']

In [15]:
merge_df = pd.merge(data_cycles, data_harvests, on='cycle_id', how='inner')

Perhitungan survival rate = data ekor / data total_seed

In [16]:
merge_df['sr']= merge_df['ekor']/ merge_df['total_seed']*100

Pembuatan Data survival Rate

In [17]:
data_sr = pd.DataFrame({
    'cycle_id': merge_df['cycle_id'],
    'ekor': merge_df['ekor'],
    'total_seed': merge_df['total_seed'],
    'total_seed_type': merge_df['total_seed_type'],
    'sr%':merge_df['sr']
})

Data SR (per ekor)

In [18]:
data_sr

      cycle_id  ekor  total_seed total_seed_type       sr%
0        17125     1      188000             net  0.000532
1        26058     4      148007             net  0.002703
2        26058     5      148007             net  0.003378
3        26058    11      148007             net  0.007432
4        26058    17      148007             net  0.011486
...        ...   ...         ...             ...       ...
1116     27552     5      100000             net  0.005000
1117     27552     0      100000             net  0.000000
1118     15868     1      150000           gross  0.000667
1119     15868     1      150000           gross  0.000667
1120     15868     0      150000           gross  0.000000

[1121 rows x 5 columns]

In [19]:
data_sr['total_seed'] = data_sr['total_seed'] / 1000

In [20]:
replacements = {'actual': '1', 'net': '0'}

# replace values using the .map() method
#data_sr_fix['total_seed_type'] = data_sr_fix['total_seed_type'].map(replacements).fillna(data_sr_fix['total_seed_type'])

In [21]:
#data_sr_fix = data_sr_fix[['tray_number','feed_remaining_percent','quantity','ekor','total_seed','total_seed_type','sr%']]

In [22]:
#data_sr_fix.corr()

In [23]:
#data_sr_m= data_sr_fix[['ekor','quantity','sr%']]

In [24]:
#data_sr_m.to_csv('data_sr_m.csv')

Data SR(total) (Jumlah Udang Panen / Jumlah Benur Tebar) x 100%

In [25]:
#jumlah total ekor udang
sum_total_ekor = merge_df['ekor'].sum()

In [26]:
#jumlah total penyebaran benih
sum_total_seed = merge_df['total_seed'].sum()

Survival rate Total

In [27]:
sr=sum_total_ekor/sum_total_seed*100
print(sr)

0.003497657823904789

##Menghitung ADG

Menggbungkan data_sampling ABW dengan data_harvests

In [28]:
#membulatkan nilai abw
data_samplings['abw_round']=round(data_samplings['average_weight'])

In [29]:
merge_second = pd.merge(data_harvests, data_samplings, on='cycle_id', how='inner')

Menghitung jumlah sampel udang = abw/berat udang

In [30]:
#dalam gram
merge_second['sum_sample_g']= merge_second['abw_round']/ merge_second['weight'] * 1000

In [31]:
#dalam kg
merge_second['sum_sample_kg']= (merge_second['abw_round']/1000)/ merge_second['weight']

In [32]:
merge_second['abw_round'].head(20)

0      5.0
1      7.0
2     10.0
3     11.0
4      2.0
5      3.0
6      4.0
7      4.0
8      6.0
9      8.0
10     6.0
11     8.0
12     5.0
13     5.0
14     5.0
15     5.0
16     5.0
17     5.0
18     5.0
19     5.0
Name: abw_round, dtype: float64

In [33]:
merge_second['average_weight'].head(20)

0      4.91
1      7.12
2      9.75
3     11.15
4      1.80
5      2.58
6      3.51
7      3.60
8      6.50
9      8.06
10     6.50
11     8.06
12     4.89
13     4.89
14     4.89
15     4.89
16     4.89
17     4.89
18     4.89
19     4.89
Name: average_weight, dtype: float64

In [34]:
merge_second['sum_sample_g'].head(20)

0         0.939447
1         1.315226
2         1.878894
3         2.066783
4         8.695652
5        13.043478
6        17.391304
7        17.391304
8        63.829787
9        85.106383
10       14.723926
11       19.631902
12        9.067827
13    10000.000000
14        8.294487
15     1879.699248
16        7.847692
17     1041.666667
18        1.596628
19       85.778007
Name: sum_sample_g, dtype: float64

In [35]:
merge_sec= pd.merge(data_cycles, merge_second, on="cycle_id",how="inner")

In [36]:
merge_sec.head(20)

,id,pond_id,species_id,total_seed,started_at,finished_at,remark_x,created_at,updated_at,area,...,ekor,updated_at_y,sampled_at,created_at_y,average_weight,id_y,remark_y,abw_round,sum_sample_g,sum_sample_kg
0,18732,36117,1.0,436320,2022-08-14 00:00:00.000,2022-12-03 00:00:00.000,#SiklusBDDimas,2022-10-06 12:09:17.000,2022-12-10 00:08:58.000,3025.0,...,10,2022-10-07 01:22:37,2022-08-23,2022-10-07 01:22:37,3.66,32486.0,Doc = 41 Hari \nTotal berat = 44 gram\nTotal u...,4.0,4.558508,0.000005
1,18732,36117,1.0,436320,2022-08-14 00:00:00.000,2022-12-03 00:00:00.000,#SiklusBDDimas,2022-10-06 12:09:17.000,2022-12-10 00:08:58.000,3025.0,...,10,2022-10-07 01:24:56,2022-09-30,2022-10-07 01:24:56,5.21,32490.0,Doc = 48\nTotal berat = 120 gram\nTotal udang ...,5.0,5.698136,0.000006
2,18732,36117,1.0,436320,2022-08-14 00:00:00.000,2022-12-03 00:00:00.000,#SiklusBDDimas,2022-10-06 12:09:17.000,2022-12-10 00:08:58.000,3025.0,...,10,2022-10-07 01:28:10,2022-10-07,2022-10-07 01:28:10,8.50,32493.0,Doc 55\nTotal berat = 136 gram\nTotal udang = ...,8.0,9.117017,0.000009
3,18732,36117,1.0,436320,2022-08-14 00:00:00.000,2022-12-03 00:00:00.000,#SiklusBDDimas,2022-10-06 12:09:17.000,2022-12-10 00:08:58.000,3025.0,...,10,2022-10-14 07:21:17,2022-10-14,2022-10-14 07:21:17,9.91,32814.0,"Size 101\nADG 0,20\nP/ H = 162 kg\nP/ K = 4.58...",10.0,11.396271,0.000011
4,18732,36117,1.0,436320,2022-08-14 00:00:00.000,2022-12-03 00:00:00.000,#SiklusBDDimas,2022-10-06 12:09:17.000,2022-12-10 00:08:58.000,3025.0,...,10,2022-10-29 01:54:19,2022-10-28,2022-10-15 03:17:30,14.50,32863.0,"Size 68,9\nADG 0,34\nP/H 170 kg\nP/K 6.850 kg",14.0,15.954780,0.000016
5,18732,36117,1.0,436320,2022-08-14 00:00:00.000,2022-12-03 00:00:00.000,#SiklusBDDimas,2022-10-06 12:09:17.000,2022-12-10 00:08:58.000,3025.0,...,10,2022-10-21 12:40:03,2022-10-21,2022-10-21 12:40:03,12.10,33167.0,"Size 83\nADG 0,31\nP/H = 181 kg\nP/K = 5.776 kg",12.0,13.675525,0.000014
6,18732,36117,1.0,436320,2022-08-14 00:00:00.000,2022-12-03 00:00:00.000,#SiklusBDDimas,2022-10-06 12:09:17.000,2022-12-10 00:08:58.000,3025.0,...,10,2022-11-29 13:16:08,2022-11-24,2022-11-29 07:42:17,23.95,35214.0,"Size = 41,7 \nADG = 0,38 \nPakan Perhari = 174...",24.0,27.351051,0.000027
7,20982,38739,1.0,208898,2022-12-13 00:00:00.000,2023-05-02 00:00:00.000,#SupplySurumana,2023-02-23 01:56:00.000,2023-05-09 00:09:30.000,2160.0,...,3,2023-02-28 01:21:02,2023-02-28,2023-02-28 01:21:02,12.33,38582.0,"Size : 81,1",12.0,51.835853,0.000052
8,20982,38739,1.0,208898,2022-12-13 00:00:00.000,2023-05-02 00:00:00.000,#SupplySurumana,2023-02-23 01:56:00.000,2023-05-09 00:09:30.000,2160.0,...,3,2023-03-08 12:56:58,2023-03-07,2023-03-08 12:45:02,13.53,38808.0,"Size : 73,85",14.0,60.475162,0.000060
9,20982,38739,1.0,208898,2022-12-13 00:00:00.000,2023-05-02 00:00:00.000,#SupplySurumana,2023-02-23 01:56:00.000,2023-05-09 00:09:30.000,2160.0,...,3,2023-03-26 00:33:24,2023-03-21,2023-03-26 00:33:24,16.60,39454.0,"Size: 60,24",17.0,73.434125,0.000073
10,20982,38739,1.0,208898,2022-12-13 00:00:00.000,2023-05-02 00:00:00.000,#SupplySurumana,2023-02-23 01:56:00.000,2023-05-09 00:09:30.000,2160.0,...,3,2023-02-28 01:21:02,2023-02-28,2023-02-28 01:21:02,12.33,38582.0,"Size : 81,1",12.0,55.996267,0.000056
11,20982,38739,1.0,208898,2022-12-13 00:00:00.000,2023-05-02 00:00:00.000,#SupplySurumana,2023-02-23 01:56:00.000,2023-05-09 00:09:30.000,2160.0,...,3,2023-03-08 12:56:58,2023-03-07,2023-03-08 12:45:02,13.53,38808.0,"Size : 73,85",14.0,65.328978,0.000065
12,20982,38739,1.0,208898,2022-12-13 00:00:00.000,2023-05-02 00:00:00.000,#SupplySurumana,2023-02-23 01:56:00.000,2023-05-09 00:09:30.000,2160.0,...,3,2023-03-26 00:33:24,2023-03-21,2023-03-26 00:33:24,16.60,39454.0,"Size: 60,24",17.0,79.328045,0.000079
13,20982,38739,1.0,208898,2022-12-13 00:00:00.000,2023-05-02 00:00:00.000,#SupplySurumana,2023-02-23 01:56:00.000,2023-05-09 00:09:30.000,2160.0,...,7,2023-02-28 01:21:02,2023-02-28,2023-02-28 01:21:02,12.33,38582.0,"Size : 81,1",12.0,35.444234,0.000035
14,20982,38739,1.0,208898,2022-12-13 00:00:00.000,2023-05-02 00:00:00.000,#SupplySurumana,2023-02-23 01:56:00.000,2023-05-09 00:09:30.000,2160.0,...,7,2023-03-08 12:56:58,2023-03-07,2023-03-08 12:45:02,13.53,38808.0,"Size : 73,85",14.0,41.351607,0.000041
15,20982,38739,1.0,208898,2022-12-13 00:00:00.000,2023-05-02 00:00:00.000,#SupplySurumana,2023-02-23 01:56:00.000,2023-05-09 00:09:30.000,2160.0,...,7,2023-03-26 00:33:24,2023-03-21,2023-03-26 00:33:24,16.60,39454.0,"Size: 60,24",17.0,50.212665,0.000050
16,20982,38739,1.0,208898,2022-12-13 00:00:00.000,2023-05-02 00:00:00.000,#SupplySurumana,2023-02-23 01:56:00.000,2023-05-09 00:09:30.000,2160.0,...,43,2023-02-28 01:21:02,2023-02-28,2023-02-28 01:21:02,12.33,38582.0,"Size : 81,1",12.0,6.704285,0.000007
17,20982,38739,1.0,208898,2022-12-13 00:00:00.000,2023-05-02 00:00:00.000,#SupplySurumana,2023-02-23 01:56:00.000,2023-05-09 00:09:30.000,2160.0,...,43,2023-03-08 12:56:58,2023-03-07,2023-03-08 12:45:02,13.53,38808.0,"Size : 73,85",14.0,7.821666,0.000008
18,20982,38739,1.0,208898,2022-12-13 00:00:00.000,2023-05-02 00:00:00.000,#SupplySurumana,2023-02-23 01:56:00.000,2023-05-09 00:09:30.000,2160.0,...,43,2023-03-26 00:33:24,2023-03-21,2023-03-26 00:33:24,16.60,39454.0,"Size: 60,24",17.0,9.497737,0.000009
19,25581,43817,1.0,25500,2023-09-28 00:00:00.000,2023-11-30 00:00:00.000,#BD-Katalis04,2023-09-18 03:09:06.000,2023-12-15 14:31:17.000,2000.0,...,0,2023-12-15 05:09:10,2023-11-13,2023-11-13 05:51:38,5.00,52622.0,#BD-Katalis04,5.0,166.666667,0.000167

In [37]:
# Convert 'harvest_at' and 'created_at' columns to datetime format
merge_sec['harvested_at'] = pd.to_datetime(merge_sec['harvested_at'])
merge_sec['created_at'] = pd.to_datetime(merge_sec['created_at'])

In [38]:
merge_sec["bd_daya"] = (merge_sec['harvested_at'] - merge_sec['created_at']).dt.days

In [39]:
# Extract numeric part and convert to integer
merge_sec.corr()

/tmp/ipykernel_37239/2480505785.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  merge_sec.corr()

,id,pond_id,species_id,total_seed,area,initial_age,limit_weight_per_area,target_cultivation_day,target_size,hatchery_id,...,weight,id_x,selling_price,ekor,average_weight,id_y,abw_round,sum_sample_g,sum_sample_kg,bd_daya
id,1.000000,0.740952,NaN,0.103712,-0.028466,-0.010997,0.057157,-0.023829,0.064053,-0.299093,...,0.135848,0.986096,0.088246,0.093644,-0.130147,0.986670,-0.132615,-0.234562,-0.234562,-0.111354
pond_id,0.740952,1.000000,NaN,0.233946,-0.034660,0.168455,0.127985,-0.104407,0.262301,-0.579984,...,0.302273,0.692480,0.182783,0.216542,-0.088258,0.719691,-0.094822,-0.362689,-0.362689,-0.206099
species_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_seed,0.103712,0.233946,NaN,1.000000,0.850573,0.732540,-0.126446,0.251590,0.109762,0.337370,...,0.396727,0.024087,0.053182,0.235528,-0.096456,0.017878,-0.097653,-0.084553,-0.084553,-0.525784
area,-0.028466,-0.034660,NaN,0.850573,1.000000,0.667552,-0.253468,0.439213,0.057813,0.554630,...,0.254906,-0.107703,-0.026520,0.137226,-0.063024,-0.110102,-0.061276,0.028126,0.028126,-0.561918
initial_age,-0.010997,0.168455,NaN,0.732540,0.667552,1.000000,-0.110333,0.203705,0.176823,0.446163,...,0.204163,-0.116827,-0.187877,0.036774,-0.110224,-0.097228,-0.112671,-0.068918,-0.068918,-0.652501
limit_weight_per_area,0.057157,0.127985,NaN,-0.126446,-0.253468,-0.110333,1.000000,0.027076,-0.090409,-0.231643,...,-0.000589,0.057475,-0.037416,0.024086,0.268712,0.105996,0.264956,-0.052528,-0.052528,0.135583
target_cultivation_day,-0.023829,-0.104407,NaN,0.251590,0.439213,0.203705,0.027076,1.000000,0.288641,0.349459,...,0.039630,-0.068165,-0.073915,0.040105,0.007855,-0.081202,0.011141,0.063636,0.063636,-0.359722
target_size,0.064053,0.262301,NaN,0.109762,0.057813,0.176823,-0.090409,0.288641,1.000000,-0.106932,...,0.007447,0.024015,-0.088739,-0.032535,-0.066692,0.034100,-0.063202,-0.081701,-0.081701,-0.201896
hatchery_id,-0.299093,-0.579984,NaN,0.337370,0.554630,0.446163,-0.231643,0.349459,-0.106932,1.000000,...,-0.089136,-0.302780,-0.250121,-0.131612,-0.129913,-0.339843,-0.126821,0.236317,0.236317,-0.250546
pond_length,-0.106335,-0.147608,NaN,0.646759,0.871927,0.404405,-0.272604,0.341581,-0.064942,0.414923,...,0.207544,-0.162176,0.062737,0.146021,0.014842,-0.162255,0.016758,0.063411,0.063411,-0.413439
pond_width,-0.062761,-0.026899,NaN,0.844207,0.948788,0.701608,-0.215328,0.366576,0.023272,0.595491,...,0.255542,-0.137951,-0.052889,0.125320,-0.084862,-0.143136,-0.084399,0.026588,0.026588,-0.530436
pond_depth,0.182817,0.227995,NaN,0.326888,0.340789,0.019318,0.004846,0.354730,0.110155,-0.180431,...,0.229998,0.124515,0.210162,0.202273,0.079617,0.140825,0.082687,-0.058763,-0.058763,-0.297541
cycle_id,1.000000,0.740952,NaN,0.103712,-0.028466,-0.010997,0.057157,-0.023829,0.064053,-0.299093,...,0.135848,0.986096,0.088246,0.093644,-0.130147,0.986670,-0.132615,-0.234562,-0.234562,-0.111354
size,0.039529,0.046589,NaN,0.029733,0.045503,-0.003254,-0.024624,0.004005,0.037433,-0.033018,...,-0.053966,0.039068,-0.055893,-0.058379,-0.073652,0.039581,-0.071686,-0.025767,-0.025767,0.025560
weight,0.135848,0.302273,NaN,0.396727,0.254906,0.204163,-0.000589,0.039630,0.007447,-0.089136,...,1.000000,0.128883,0.892643,0.960243,-0.031709,0.093375,-0.036720,-0.164564,-0.164564,-0.034693
id_x,0.986096,0.692480,NaN,0.024087,-0.107703,-0.116827,0.057475,-0.068165,0.024015,-0.302780,...,0.128883,1.000000,0.127099,0.109972,-0.134760,0.987113,-0.136736,-0.208272,-0.208272,0.036650
selling_price,0.088246,0.182783,NaN,0.053182,-0.026520,-0.187877,-0.037416,-0.073915,-0.088739,-0.250121,...,0.892643,0.127099,1.000000,0.952503,0.002238,0.079703,-0.001217,-0.116761,-0.116761,0.241205
ekor,0.093644,0.216542,NaN,0.235528,0.137226,0.036774,0.024086,0.040105,-0.032535,-0.131612,...,0.960243,0.109972,0.952503,1.000000,0.011831,0.066297,0.007184,-0.117347,-0.117347,0.102944
average_weight,-0.130147,-0.088258,NaN,-0.096456,-0.063024,-0.110224,0.268712,0.007855,-0.066692,-0.129913,...,-0.031709,-0.134760,0.002238,0.011831,1.000000,-0.032534,0.998915,0.193395,0.193395,0.072055
id_y,0.986670,0.719691,NaN,0.017878,-0.110102,-0.097228,0.105996,-0.081202,0.034100,-0.339843,...,0.093375,0.987113,0.079703,0.066297,-0.032534,1.000000,-0.034999,-0.214442,-0.214442,-0.013731
abw_round,-0.132615,-0.094822,NaN,-0.097653,-0.061276,-0.112671,0.264956,0.011141,-0.063202,-0.126821,...,-0.036720,-0.136736,-0.001217,0.007184,0.998915,-0.034999,1.000000,0.198185,0.198185,0.075673
sum_sample_g,-0.234562,-0.362689,NaN,-0.084553,0.028126,-0.068918,-0.052528,0.063636,-0.081701,0.236317,...,-0.164564,-0.208272,-0.116761,-0.117347,0.193395,-0.214442,0.198185,1.000000,1.000000,0.164441
sum_sample_kg,-0.234562,-0.362689,NaN,-0.084553,0.028126,-0.068918,-0.052528,0.063636,-0.081701,0.236317,...,-0.164564,-0.208272,-0.116761,-0.117347,0.193395,-0.214442,0.198185,1.000000,1.000000,0.164441
bd_daya,-0.111354,-0.206099,NaN,-0.525784,-0.561918,-0.652501,0.135583,-0.359722,-0.201896,-0.250546,...,-0.034693,0.036650,0.241205,0.102944,0.072055,-0.013731,0.075673,0.164441,0.164441,1.000000

In [40]:
merge_abw = merge_sec[["cycle_id","abw_round","average_weight","sum_sample_g","bd_daya"]]

In [41]:
merge_sec_new= pd.merge(merge_abw,data_feed_tray,on="cycle_id", how="inner")

In [42]:
merge_sec_new.corr()

/tmp/ipykernel_37239/2213443019.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  merge_sec_new.corr()

,cycle_id,abw_round,average_weight,sum_sample_g,bd_daya,id,tray_number,feed_remaining_percent
cycle_id,1.000000,0.060754,0.061443,-0.125097,0.128479,0.978576,-0.046985,-0.019889
abw_round,0.060754,1.000000,0.999608,0.284399,0.271570,0.090172,0.016028,-0.049831
average_weight,0.061443,0.999608,1.000000,0.283608,0.268070,0.090451,0.015685,-0.048394
sum_sample_g,-0.125097,0.284399,0.283608,1.000000,0.319086,-0.122230,0.005377,-0.015033
bd_daya,0.128479,0.271570,0.268070,0.319086,1.000000,0.181552,0.028734,-0.077660
id,0.978576,0.090172,0.090451,-0.122230,0.181552,1.000000,-0.032086,0.000320
tray_number,-0.046985,0.016028,0.015685,0.005377,0.028734,-0.032086,1.000000,0.485515
feed_remaining_percent,-0.019889,-0.049831,-0.048394,-0.015033,-0.077660,0.000320,0.485515,1.000000

In [43]:
merg= merge_sec_new[['cycle_id','bd_daya','tray_number','sum_sample_g','average_weight']]

In [44]:
merg.to_csv("data_abw.csv")

Menghitung ADR

In [45]:
#menggabungkan data sebelumnya
adr_g=pd.DataFrame({
    'cycle_id': merge_second['cycle_id'],
    'sampled_at':merge_second['sampled_at'],
     'weight' : merge_second['weight'],
    'sum_sample_g': merge_second['sum_sample_g'],
    'sum_sample_kg': merge_second['sum_sample_kg'],
    'abw': merge_second['average_weight'],
    'abw_round': merge_second['abw_round'],
})

In [46]:
if not pd.api.types.is_datetime64_dtype(adr_g['sampled_at']):
    adr_g['sampled_at'] = pd.to_datetime(adr_g['sampled_at'])

Membuat selisih hari

In [47]:
# Calculate the difference between sampled_at values within each cycle_id
adr_g['diff_d'] = adr_g.groupby('cycle_id')['sampled_at'].diff().dt.days

In [48]:
adr_g['diff_d'].head()

0    NaN
1    7.0
2    7.0
3    7.0
4    NaN
Name: diff_d, dtype: float64

Membuat selisih abw

In [49]:

# Assuming you have the DataFrame 'adr_g'
# (Make sure it contains the 'cycle_id' and 'abw_round' columns)

# Calculate the difference of abw_round within each cycle_id
adr_g['diff_abw_round'] = adr_g.groupby('cycle_id')['abw_round'].diff()

# Print the DataFrame with the new column
print(adr_g)

      cycle_id sampled_at   weight  sum_sample_g  sum_sample_kg    abw  \
0      18747.0 2022-09-24  5322.28      0.939447   9.394470e-07   4.91
1      18747.0 2022-10-01  5322.28      1.315226   1.315226e-06   7.12
2      18747.0 2022-10-08  5322.28      1.878894   1.878894e-06   9.75
3      18747.0 2022-10-15  5322.28      2.066783   2.066783e-06  11.15
4      25613.0 2023-10-17   230.00      8.695652   8.695652e-06   1.80
...        ...        ...      ...           ...            ...    ...
4637   28500.0 2024-01-02    12.00    333.333333   3.333333e-04   3.80
4638   28500.0 2024-01-02     4.00   1000.000000   1.000000e-03   3.80
4639   24650.0 2023-09-08   252.50     11.881188   1.188119e-05   3.41
4640   24650.0 2023-09-15   252.50     11.881188   1.188119e-05   3.48
4641   24650.0 2023-09-22   252.50     15.841584   1.584158e-05   4.33

      abw_round  diff_d  diff_abw_round
0           5.0     NaN             NaN
1           7.0     7.0             2.0
2          10.0     7.0             3.0
3          11.0     7.0             1.0
4           2.0     NaN             NaN
...         ...     ...             ...
4637        4.0     0.0             0.0
4638        4.0     0.0             0.0
4639        3.0     NaN             NaN
4640        3.0     7.0             0.0
4641        4.0     7.0             1.0

[4642 rows x 9 columns]

In [50]:
adr_g['diff_abw'] = adr_g.groupby('cycle_id')['abw'].diff()

Mengisi Nilai kosong

In [51]:
adr_g = adr_g.fillna(0)

Pembagian selisih abw/selisih diff_d

In [52]:
adr_g['adr_result_r'] = adr_g['diff_abw_round']/adr_g['diff_d']
adr_g['adr_result'] = adr_g['diff_abw']/adr_g['diff_d']

Mengisi nilai kosong

In [53]:
adr_g['adr_result'] = adr_g['adr_result'].fillna(0)
adr_g['adr_result_r'] = adr_g['adr_result_r'].fillna(0)

In [54]:
adr_g

,cycle_id,sampled_at,weight,sum_sample_g,sum_sample_kg,abw,abw_round,diff_d,diff_abw_round,diff_abw,adr_result_r,adr_result
0,18747.0,2022-09-24,5322.28,0.939447,9.394470e-07,4.91,5.0,0.0,0.0,0.00,0.000000,0.000000
1,18747.0,2022-10-01,5322.28,1.315226,1.315226e-06,7.12,7.0,7.0,2.0,2.21,0.285714,0.315714
2,18747.0,2022-10-08,5322.28,1.878894,1.878894e-06,9.75,10.0,7.0,3.0,2.63,0.428571,0.375714
3,18747.0,2022-10-15,5322.28,2.066783,2.066783e-06,11.15,11.0,7.0,1.0,1.40,0.142857,0.200000
4,25613.0,2023-10-17,230.00,8.695652,8.695652e-06,1.80,2.0,0.0,0.0,0.00,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
4637,28500.0,2024-01-02,12.00,333.333333,3.333333e-04,3.80,4.0,0.0,0.0,0.00,0.000000,0.000000
4638,28500.0,2024-01-02,4.00,1000.000000,1.000000e-03,3.80,4.0,0.0,0.0,0.00,0.000000,0.000000
4639,24650.0,2023-09-08,252.50,11.881188,1.188119e-05,3.41,3.0,0.0,0.0,0.00,0.000000,0.000000
4640,24650.0,2023-09-15,252.50,11.881188,1.188119e-05,3.48,3.0,7.0,0.0,0.07,0.000000,0.010000
4641,24650.0,2023-09-22,252.50,15.841584,1.584158e-05,4.33,4.0,7.0,1.0,0.85,0.142857,0.121429

Hasil ADR

In [55]:
adr_result = adr_g[['cycle_id','sampled_at','diff_abw_round','diff_abw','diff_d','adr_result','adr_result_r']]

In [56]:
adr_result.head()

,cycle_id,sampled_at,diff_abw_round,diff_abw,diff_d,adr_result,adr_result_r
0,18747.0,2022-09-24,0.0,0.00,0.0,0.000000,0.000000
1,18747.0,2022-10-01,2.0,2.21,7.0,0.315714,0.285714
2,18747.0,2022-10-08,3.0,2.63,7.0,0.375714,0.428571
3,18747.0,2022-10-15,1.0,1.40,7.0,0.200000,0.142857
4,25613.0,2023-10-17,0.0,0.00,0.0,0.000000,0.000000

## Jawaban No.3

Biomass
Jumlah total berat udang yang diperkirakan hidup di dalam kolam. Biasa dihitung dalam unit kilogram. Cara menghitungnya kurang lebih dengan mengkalikan nilai ABW dengan total populasi udang yang masih hidup di dalam kolam.

Revenue forecast. Ini cek aja tabel harvest, di situ kan ada nilai selling price terhadap size dan weightnya, coba deh dicari tau itu korelasinya seperti apa

In [57]:
adr_g.head()

,cycle_id,sampled_at,weight,sum_sample_g,sum_sample_kg,abw,abw_round,diff_d,diff_abw_round,diff_abw,adr_result_r,adr_result
0,18747.0,2022-09-24,5322.28,0.939447,9.394470e-07,4.91,5.0,0.0,0.0,0.00,0.000000,0.000000
1,18747.0,2022-10-01,5322.28,1.315226,1.315226e-06,7.12,7.0,7.0,2.0,2.21,0.285714,0.315714
2,18747.0,2022-10-08,5322.28,1.878894,1.878894e-06,9.75,10.0,7.0,3.0,2.63,0.428571,0.375714
3,18747.0,2022-10-15,5322.28,2.066783,2.066783e-06,11.15,11.0,7.0,1.0,1.40,0.142857,0.200000
4,25613.0,2023-10-17,230.00,8.695652,8.695652e-06,1.80,2.0,0.0,0.0,0.00,0.000000,0.000000

Membuat data Biomass

In [58]:
data_biomass = pd.merge(adr_g, data_cycles, on='cycle_id', how='inner')

In [59]:
data_biomass['abw'].head()

0     5.20
1     6.39
2     7.50
3    10.56
4    10.56
Name: abw, dtype: float64

In [60]:
data_biomass['biomass_result']= data_biomass['total_seed'] * data_biomass['abw']

In [61]:
data_biomass['biomass_result_round']= data_biomass['total_seed'] * data_biomass['abw_round']

In [62]:
data_biomass.to_csv('data_biomass.csv')

Transformasi data sebelum Modeling

##Prediksi Model Revenue forecast

In [63]:
data_harvests.head(70)

,cycle_id,updated_at,size,created_at,weight,id,harvested_at,status,selling_price,ekor
1,11848.0,2021-10-25 23:29:53,300.0,2021-10-24 08:38:53,46.00,7520.0,2021-10-22,Full,1.610000e+06,0
2,11848.0,2021-10-25 23:29:35,300.0,2021-10-25 23:29:35,10.00,7546.0,2021-10-21,Partial,3.500000e+05,0
5,18747.0,2022-10-20 01:06:50,72.3,2022-10-20 01:06:50,5322.28,13876.0,2022-10-19,Full,5.322280e+03,73
6,27095.0,2024-02-19 02:10:48,41.5,2023-12-27 12:00:59,7843.00,25322.0,2023-12-12,Full,4.925404e+08,188
7,27095.0,2024-02-19 02:08:11,67.5,2024-02-12 05:06:57,1244.50,26728.0,2023-11-08,Partial,7.653675e+07,18
...,...,...,...,...,...,...,...,...,...,...
84,20661.0,2023-06-15 08:01:46,52.0,2023-06-13 11:15:07,0.78,18586.0,2023-06-13,Partial,3.723720e+04,0
85,20661.0,2023-07-01 03:47:08,47.0,2023-06-21 10:35:34,474.57,18815.0,2023-06-21,Partial,3.260296e+07,10
86,20661.0,2023-07-01 03:47:08,47.0,2023-06-21 10:36:10,8.79,18816.0,2023-06-21,Partial,3.623238e+05,0
87,20661.0,2023-07-04 15:46:33,39.0,2023-07-04 03:42:02,3218.78,19257.0,2023-07-03,Full,2.253146e+08,82
88,20661.0,2023-07-04 15:46:33,65.0,2023-07-04 03:42:59,126.30,19258.0,2023-07-03,Full,7.072800e+06,1

In [64]:
if not pd.api.types.is_datetime64_dtype(data_harvests['harvested_at']):
    data_harvests['harvested_at'] = pd.to_datetime(data_harvests['harvested_at'])

In [65]:
# Extract date components (year, month, day)
data_harvests['month'] = data_harvests['harvested_at'].dt.month

# Extract time components (hour, minute, second)
data_harvests['day'] = data_harvests['harvested_at'].dt.day

data_harvests['year'] = data_harvests['harvested_at'].dt.year

In [66]:
if not pd.api.types.is_datetime64_dtype(data_harvests['created_at']):
    data_harvests['created_at'] = pd.to_datetime(data_harvests['created_at'])

In [67]:
# Extract date components (year, month, day)
data_harvests['c_month'] = data_harvests['created_at'].dt.month

# Extract time components (hour, minute, second)
data_harvests['c_day'] = data_harvests['created_at'].dt.day

data_harvests['c_year'] = data_harvests['created_at'].dt.year

In [68]:

data_h = data_harvests[['c_day','c_month','c_year','month','day','year','weight','size','ekor','status','selling_price']]

In [69]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [70]:
# Urutkan kolom kategorikal
data_h['status'] = data_h['status'].sort_values()
data_h['c_day'] = data_h['c_day'].sort_values()
data_h['c_month'] = data_h['c_month'].sort_values()
data_h['c_year'] = data_h['c_year'].sort_values()
data_h['day'] = data_h['day'].sort_values()
data_h['month'] = data_h['month'].sort_values()
data_h['year'] = data_h['year'].sort_values()

/tmp/ipykernel_37239/3265469035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_h['status'] = data_h['status'].sort_values()
/tmp/ipykernel_37239/3265469035.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_h['c_day'] = data_h['c_day'].sort_values()
/tmp/ipykernel_37239/3265469035.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_h['c_month'] = data_h['c_month'].sort_values()
/tmp/ipykernel_37239/3265469035.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_h['c_year'] = data_h['c_year'].sort_values()
/tmp/ipykernel_37239/3265469035.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_h['day'] = data_h['day'].sort_values()
/tmp/ipykernel_37239/3265469035.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_h['month'] = data_h['month'].sort_values()
/tmp/ipykernel_37239/3265469035.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_h['year'] = data_h['year'].sort_values()

In [71]:
# Buat encoder untuk kolom 'status'
status_encoder = LabelEncoder()
data_h['status_encoded'] = status_encoder.fit_transform(data_h['status'])

# Buat encoder untuk kolom 'c_day'
c_day_encoder = LabelEncoder()
data_h['c_day_encoded'] = c_day_encoder.fit_transform(data_h['c_day'])

# Buat encoder untuk kolom 'c_month'
c_month_encoder = LabelEncoder()
data_h['c_month_encoded'] = c_month_encoder.fit_transform(data_h['c_month'])

# Buat encoder untuk kolom 'c_year'
c_year_encoder = LabelEncoder()
data_h['c_year_encoded'] = c_year_encoder.fit_transform(data_h['c_year'])

# Buat encoder untuk kolom 'day'
day_encoder = LabelEncoder()
data_h['day_encoded'] = day_encoder.fit_transform(data_h['day'])

# Buat encoder untuk kolom 'month'
month_encoder = LabelEncoder()
data_h['month_encoded'] = month_encoder.fit_transform(data_h['month'])

# Buat encoder untuk kolom 'year'
year_encoder = LabelEncoder()
data_h['year_encoded'] = year_encoder.fit_transform(data_h['year'])

/tmp/ipykernel_37239/1061707319.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_h['status_encoded'] = status_encoder.fit_transform(data_h['status'])
/tmp/ipykernel_37239/1061707319.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_h['c_day_encoded'] = c_day_encoder.fit_transform(data_h['c_day'])
/tmp/ipykernel_37239/1061707319.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_h['c_month_encoded'] = c_month_encoder.fit_transform(data_h['c_month'])
/tmp/ipykernel_37239/1061707319.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_h['c_year_encoded'] = c_year_encoder.fit_transform(data_h['c_year'])

In [72]:
# Ubah nilai label menjadi terurut
status_mapping = dict(zip(status_encoder.classes_, status_encoder.transform(status_encoder.classes_)))
data_h['status_encoded'] = data_h['status_encoded'].replace(status_mapping)

c_day_mapping = dict(zip(c_day_encoder.classes_, c_day_encoder.transform(c_day_encoder.classes_)))
data_h['c_day_encoded'] = data_h['c_day_encoded'].replace(c_day_mapping)

c_month_mapping = dict(zip(c_month_encoder.classes_, c_month_encoder.transform(c_month_encoder.classes_)))
data_h['c_month_encoded'] = data_h['c_month_encoded'].replace(c_month_mapping)

c_year_mapping = dict(zip(c_year_encoder.classes_, c_year_encoder.transform(c_year_encoder.classes_)))
data_h['c_year_encoded'] = data_h['c_year_encoded'].replace(c_year_mapping)

In [73]:
day_mapping = dict(zip(day_encoder.classes_, day_encoder.transform(day_encoder.classes_)))
data_h['day_encoded'] = data_h['day_encoded'].replace(day_mapping)

month_mapping = dict(zip(month_encoder.classes_, month_encoder.transform(month_encoder.classes_)))
data_h['month_encoded'] = data_h['month_encoded'].replace(month_mapping)

year_mapping = dict(zip(year_encoder.classes_, year_encoder.transform(year_encoder.classes_)))
data_h['year_encoded'] = data_h['year_encoded'].replace(year_mapping)

In [74]:
data_h= data_h.drop(columns=['c_month','c_year','month','year','c_day_encoded','day_encoded','status'])

In [75]:
data_h.corr()

,c_day,day,weight,size,ekor,selling_price,status_encoded,c_month_encoded,c_year_encoded,month_encoded,year_encoded
c_day,1.000000,0.510484,-0.004649,-0.005142,0.012712,-0.011105,-0.029104,-0.012221,0.029532,-0.000222,0.042433
day,0.510484,1.000000,-0.020405,-0.009797,-0.013015,-0.003076,-0.062417,0.027348,-0.051428,-0.001181,-0.053387
weight,-0.004649,-0.020405,1.000000,-0.016113,0.874826,0.670056,-0.071371,0.011723,0.008612,0.010033,0.009454
size,-0.005142,-0.009797,-0.016113,1.000000,-0.031730,-0.031204,-0.060271,-0.011590,0.008011,-0.015301,0.009173
ekor,0.012712,-0.013015,0.874826,-0.031730,1.000000,0.400647,-0.083537,0.012192,0.010095,0.010267,0.011336
selling_price,-0.011105,-0.003076,0.670056,-0.031204,0.400647,1.000000,-0.106458,0.042711,0.002580,0.039737,0.004033
status_encoded,-0.029104,-0.062417,-0.071371,-0.060271,-0.083537,-0.106458,1.000000,-0.064637,0.023767,-0.039221,0.017004
c_month_encoded,-0.012221,0.027348,0.011723,-0.011590,0.012192,0.042711,-0.064637,1.000000,-0.451335,0.888248,-0.422329
c_year_encoded,0.029532,-0.051428,0.008612,0.008011,0.010095,0.002580,0.023767,-0.451335,1.000000,-0.362475,0.986644
month_encoded,-0.000222,-0.001181,0.010033,-0.015301,0.010267,0.039737,-0.039221,0.888248,-0.362475,1.000000,-0.400025
year_encoded,0.042433,-0.053387,0.009454,0.009173,0.011336,0.004033,0.017004,-0.422329,0.986644,-0.400025,1.000000

In [77]:
data_h[['weight','ekor','selling_price']].to_csv('data_harvest.csv')